{{ 'jquery.instagram.min.js' | asset_url | script_tag }}
<div class="carousel slide" id="carousel-554099" data-ride="carousel">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-554099"></li>
					<li data-slide-to="1" data-target="#carousel-554099"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img data-intent
							data-in-mobile-src= "{{ '1' | prepend: 'slider0' | append: '_grande.jpg' | file_url }}"
							data-in-tablet-src= "{{ '1' | prepend: 'slider0' | append: '_large.jpg' | file_url }}"
							data-in-base-src= "{{ '1' | prepend: 'slider0' | append: '.jpg' | file_url }}"
							src= "{{ '1' | prepend: 'slider0' | append: '.jpg' | file_url }}"
							alt="Manifold Clock"
						>
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img data-intent
							data-in-mobile-src= "{{ '2' | prepend: 'slider0' | append: '_grande.jpg' | file_url }}"
							data-in-tablet-src= "{{ '2' | prepend: 'slider0' | append: '_large.jpg' | file_url }}"
							data-in-base-src= "{{ '2' | prepend: 'slider0' | append: '.jpg' | file_url }}"
							src= "{{ '2' | prepend: 'slider0' | append: '.jpg' | file_url }}"
							alt="Two Leg Table"
						>
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div>
			</div>
<div class="container-fluid">
	<div class="jumbotron top-buffer">
				<h1>
					Hello, world!
				</h1>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
	<div class="row products">
	{% for product in collections.shop.products %}
    		<div class="col-md-3">
					<div class="thumbnail">
						<img src="{{ product.featured_image | product_img_url }}" alt="{{ product.title }}">
						<div class="caption">
							<h3>{{ product.title }}</h3>
							<p>
								<span class="product-price">{{ product.price | money }}</span>
							</p>
						</div>
					</div>
				</div>
			    {% endfor %}
				<div class="col-md-12 column">
					 <button type="button" class="btn btn-primary btn-block btn-products">More Clocks...</button>
				</div>
			</div>
	<div class="row clearfix">
				<div class="col-md-4 column">
					<h3 class="text-primary">
						h3. Lorem ipsum dolor sit amet.
					</h3>
				</div>
				<div class="col-md-8 column">
					<dl>
						<dt>
							Description lists
						</dt>
						<dd>
							A description list is perfect for defining terms.
						</dd>
						<dt>
							Euismod
						</dt>
						<dd>
							Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
						</dd>
						<dd>
							Donec id elit non mi porta gravida at eget metus.
						</dd>
						<dt>
							Malesuada porta
						</dt>
						<dd>
							Etiam porta sem malesuada magna mollis euismod.
						</dd>
						<dt>
							Felis euismod semper eget lacinia
						</dt>
						<dd>
							Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
						</dd>
					</dl>
				</div>
			</div>
	<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://lorempixel.com/600/200/people">
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://lorempixel.com/600/200/city">
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="http://lorempixel.com/600/200/sports">
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
							</p>
						</div>
					</div>
				</div>
			</div>		
	<div class="row clearfix">
				<div class="col-md-12 column">
					 <button type="button" class="btn btn-primary btn-default btn-block">Default</button>
				</div>
			</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<h3 class="text-left">
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<p>
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
			</p>
		</div>
		<div class="col-md-2 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle">
		</div>
		<div class="col-md-2 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/" class="img-circle">
		</div>
		<div class="col-md-4 column">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<p>
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
			</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-2 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/">
		</div>
		<div class="col-md-2 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/">
		</div>
		<div class="col-md-2 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/">
		</div>
		<div class="col-md-2 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/">
		</div>
		<div class="col-md-2 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/">
		</div>
		<div class="col-md-2 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="carousel slide" id="carousel-288175">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-288175">
					</li>
					<li data-slide-to="1" data-target="#carousel-288175">
					</li>
					<li data-slide-to="2" data-target="#carousel-288175">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="http://lorempixel.com/1600/500/sports/1">
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/2">
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/3">
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<div class="col-md-6 column">
			<h3>
				h3. Lorem ipsum dolor sit amet.
			</h3>
			<dl>
				<dt>
					Description lists
				</dt>
				<dd>
					A description list is perfect for defining terms.
				</dd>
				<dt>
					Euismod
				</dt>
				<dd>
					Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
				</dd>
				<dd>
					Donec id elit non mi porta gravida at eget metus.
				</dd>
				<dt>
					Malesuada porta
				</dt>
				<dd>
					Etiam porta sem malesuada magna mollis euismod.
				</dd>
				<dt>
					Felis euismod semper eget lacinia
				</dt>
				<dd>
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				</dd>
			</dl> <a href="#" class="btn btn-primary btn-block" type="button">Button</a>
		</div>
	</div>
</div>
	<div class="row clearfix">
		<section id="instagram-widget" class="section-wrap" data-client-id="c72fea4a4b534b63aac1fa11fce38433" data-hashtag="studiove" data-default-hashtag="studiove" data-blacklist="" data-image-count="6">
				<div class="instagram-images row"></div>
		</section>
	</div>
	<script>
  	  if(instagramThumbnailClass === undefined){
    		var instagramThumbnailClass = "col-md-2";
    	}
    	$(function(){
  			$('#instagram-widget').bootstrapifyInstagram({
  				thumbClass: instagramThumbnailClass
  			});
  		});
	</script